<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Trang chủ</title>
    <meta charset="UTF-8">
</head>
<body>

<ul>
    <li><a th:href="@{/}">Trang chủ</a></li>
    <li><a th:href="@{/products}">Trang sản phẩm</a></li>
    <li><a th:href="@{/users}">Trang người dùng</a></li>
    <li><a th:href="@{/orders}">Trang đơn hàng</a></li>
    <li><a th:href="@{/api/products}">api product</a></li>
    <li><a th:href="@{/api/orders}">api order</a></li>
</ul>



</body>
</html>
